.rebar3
_build
_checkouts
_vendor
.eunit
*.o
*.beam
*.plt
*.swp
*.swo
.erlang.cookie
ebin
log
erl_crash.dump
.rebar
logs
.idea
*.iml
rebar3.crashdump
*~
_*

# Libiconv files
c_src/libiconv.lib
c_src/iconv.h
c_src/iidx_iconv.obj
priv/iidx_iconv.dll
priv/iidx_iconv.lib
priv/iidx_iconv.exp
